<!-- For desktop -->
<mat-horizontal-stepper *ngIf="!mobSvc.getIsMobile()" linear #stepper>
  <!-- User Form -->
  <mat-step [stepControl]="userForm">
    <ng-template matStepLabel>Vos informations</ng-template>
    <mat-card>
      <form [formGroup]="userForm" (ngSubmit)="onSubmitUserInfo()" fxLayout="column" fxLayoutAlign="start">
        <mat-form-field>
          <input matInput type="text" class="form-control" #email maxlength="70" formControlName="email"
            placeholder="Adresse email">
          <mat-hint align="end">{{email.value.length}} / 70</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="form-control" #fName maxlength="60" formControlName="fName"
            placeholder="Prénom">
          <mat-hint align="end">{{fName.value.length}} / 60</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="form-control" #lName maxlength="60" formControlName="lName"
            placeholder="Nom">
          <mat-hint align="end">{{lName.value.length}} / 60</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="form-control" #company maxlength="60" formControlName="company"
            placeholder="Nom de votre entreprise">
          <mat-hint align="end">{{company.value.length}} / 60</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" class="form-control" #position maxlength="70" formControlName="position"
            placeholder="Intitulé de votre poste">
          <mat-hint align="end">{{position.value.length}} / 70</mat-hint>
        </mat-form-field>
        <mat-checkbox formControlName="vehicle">Avez-vous besoin d'une place de parking ?</mat-checkbox>
        <button mat-button matStepperNext type="submit" [disabled]="userForm.invalid">Suivant - Les conférences</button>
        <button mat-button type="button" (click)="fillUserInfoFormRemy()" *ngIf="!env.production">Remplir form</button>
        <button mat-button type="button" (click)="testModal()" *ngIf="!env.production">testModal</button>
      </form>
    </mat-card>
  </mat-step>

  <!-- Conference form -->
  <mat-step [stepControl]="confForm">
    <ng-template matStepLabel>Les conférences qui vous intéresse</ng-template>
    <mat-card *ngIf="isUpdating" style="background-color: #d94747; color:white;">Merci de bien vouloir ressaisir la
      liste des conférences</mat-card>
    <br>
    <form [formGroup]="confForm" (ngSubmit)="onSubmitConf()" fxLayout="column" fxLayoutAlign="start">
      <mat-card class="conf-form" *ngFor="let creneau of cfCreneau, let i = index">
        <mat-card-header>
          <label [for]="creneau.crenId">{{ creneau.crenDesc }}</label>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group [id]="creneau.crenId" fxLayout="column" fxLayoutAlign="start"
            [formControlName]="creneau.crenId">
            <div *ngFor="let conf of creneau.conferences, let y = index" fxLayout="row" fxLayoutAlign="start">
              <mat-radio-button [value]="conf">
                <span class="wrap-mat-label">
                  {{ conf.confName }}
                </span>
              </mat-radio-button>

            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <mat-radio-button value='-1'>
                <span class="wrap-mat-label">
                  Aucune
                </span>
              </mat-radio-button>
            </div>
          </mat-radio-group>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious>Précédent - Vos informations</button>
        <button mat-button matStepperNext type="submit" [disabled]="confForm.invalid">Suivant - Récapitulatif</button>
        <button mat-button type="submit" [disabled]="confForm.invalid" *ngIf="!env.production">log form value</button>
      </div>
    </form>
  </mat-step>

  <!-- Récapitulatif -->
  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>
    <div class="row" fxLayout="row">
      <div class="col m6" fxLayout="column" style="border-right: 2px solid grey">
        <div *ngFor="let key of utilsUserForm.keys">
          <p>{{ validatedUserFormValue[key] }}</p>
        </div>
      </div>
      <div class="col m6" fxLayout="column">
        <div *ngFor="let conf of utilsConfForm.conf">
          <p *ngIf="conf">{{ conf.confName }}</p>
          <p *ngIf="isNone(conf)">{{ noneString }}</p>
        </div>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Précédent - Les conférences</button>
      <button mat-button (click)="reset(stepper)">Réinitialiser le formulaire</button>
      <button mat-button (click)="validateSignUp()" *ngIf="!isUpdating">Valider la préinscription</button>
      <button mat-button (click)="updateUserData()" *ngIf="isUpdating">Mettre à jour</button>
      <button mat-button (click)="log()" *ngIf="!env.production">Log</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>


<!-- For mobile -->
<mat-vertical-stepper *ngIf="mobSvc.getIsMobile()" linear #stepper>
  <!-- User Form -->
  <mat-step [stepControl]="userForm">
    <ng-template matStepLabel>Vos informations</ng-template>
    <form [formGroup]="userForm" (ngSubmit)="onSubmitUserInfo()" fxLayout="column" fxLayoutAlign="start">
      <mat-form-field>
        <input matInput type="text" class="form-control" id="email" formControlName="email" placeholder="Adresse email">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" class="form-control" id="fName" formControlName="fName" placeholder="Prénom">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" class="form-control" id="lName" formControlName="lName" placeholder="Nom">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" class="form-control" id="company" formControlName="company"
          placeholder="Nom de votre entreprise">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" class="form-control" id="position" formControlName="position"
          placeholder="Intitulé de votre poste">
      </mat-form-field>
      <mat-checkbox formControlName="vehicle">
        <span class="wrap-mat-label">Avez-vous besoin d'une
          place de parking ?</span></mat-checkbox>
      <button mat-button matStepperNext type="submit" [disabled]="userForm.invalid">Suivant - Les conférences</button>
      <button mat-button type="button" (click)="fillUserInfoFormRemy()" *ngIf="!env.production">Remplir form</button>
      <button mat-button type="button" (click)="testModal()" *ngIf="!env.production">testModal</button>
    </form>
  </mat-step>

  <!-- Conferenceform -->
  <mat-step [stepControl]="confForm">
    <ng-template matStepLabel>Les conférences qui vous intéresse</ng-template>
    <mat-card *ngIf="isUpdating" style="background-color: #d94747; color:white;">Merci de bien vouloir ressaisir la
      liste des conférences</mat-card>
    <br>
    <form [formGroup]="confForm" (ngSubmit)="onSubmitConf()" fxLayout="column" fxLayoutAlign="start">
      <mat-card class="conf-form" *ngFor="let creneau of cfCreneau, let i = index">
        <mat-card-header>
          <label [for]="creneau.crenId">{{ creneau.crenDesc }}</label>
        </mat-card-header>
        <mat-card-content>
          <mat-radio-group [id]="creneau.crenId" fxLayout="column" fxLayoutAlign="start"
            [formControlName]="creneau.crenId">
            <div *ngFor="let conf of creneau.conferences, let y = index" fxLayout="row" fxLayoutAlign="start">
              <mat-radio-button [value]="conf" [id]="conf.confId">
                <span class="wrap-mat-label">
                  {{ conf.confName }}
                </span>
              </mat-radio-button>
            </div>
            <div fxLayout="row" fxLayoutAlign="start">
              <mat-radio-button value='-1'></mat-radio-button>
              <span class="wrap-mat-label">Aucune</span>
            </div>
          </mat-radio-group>
        </mat-card-content>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious>Précédent - Vos informations</button>
        <button mat-button matStepperNext type="submit" [disabled]="confForm.invalid">Suivant - Récapitulatif</button>
        <button mat-button type="submit" [disabled]="confForm.invalid" *ngIf="!env.production">log form value</button>
      </div>
    </form>
  </mat-step>

  <!-- Récapitulatif -->
  <mat-step>
    <ng-template matStepLabel>Récapitulatif</ng-template>
    <div class="row" fxLayout="row">
      <div class="col m6" fxLayout="column" style="border-right: 2px solid grey">
        <div *ngFor="let key of utilsUserForm.keys">
          <p>{{ validatedUserFormValue[key] }}</p>
        </div>
      </div>
      <div class="col m6" fxLayout="column">
        <div *ngFor="let conf of utilsConfForm.conf">
          <p *ngIf="conf">{{ conf.confName }}</p>
          <p *ngIf="isNone(conf)">{{ noneString }}</p>
        </div>
      </div>
    </div>
    <div>
      <button mat-button matStepperPrevious>Précédent - Les conférences</button>
      <button mat-button (click)="reset(stepper)">Réinitialiser les formulaire</button>
      <button mat-button (click)="validateSignUp()" *ngIf="!isUpdating">Valider la préinscription</button>
      <button mat-button (click)="updateUserData()" *ngIf="isUpdating">Mettre à jour</button>
      <button mat-button (click)="log()" *ngIf="!env.production">Log</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
