.conf-form {
  margin: 0 0 10px 0;

  mat-card-content {
    margin: 10px 0 0 0;
  }

  mat-radio-button {
    margin: 0 0 10px 0;
  }
}

.wrap-mat-label {
  white-space: normal;
}

button {
  margin: 5px;
}

mat-horizontal-stepper {
  background-color: #fafafa;
  mat-card {
    width: 500px;
    margin: auto;
    padding: 0 40px;
    form {
      padding-top: 15px;
    }
  }
}

mat-vertical-stepper {
  background-color: #fafafa;
}

.recap-container {
  mat-card {
    margin: 10px 500px;
  }
}

.small-text {
  font-size: 10px;
  font-weight: italic;
}