<!-- For desktop -->
<mat-card *ngIf="!mobSvc.getIsMobile()" style="width: 1150px; margin: 10px auto;">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab *ngFor="let theme of cdThemeList" [label]="'Thème : '+ theme.themeName">
            <mat-list role="list">
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab *ngFor="let conference of theme.conferences" [label]="conference.confName">
                        <markdown [data]="markdownChanged(conference.confMDlink)"></markdown>
                        <!-- <markdown [src]="https://drive.google.com/uc?export=view&id=1SxXQYJshUsJIjzQXyGAE6oUvFRCQNNgn"></markdown> -->
                    </mat-tab>
                </mat-tab-group>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>
<!-- For mobile -->
<mat-accordion *ngIf="mobSvc.getIsMobile()">
    <mat-expansion-panel *ngFor="let theme of cdThemeList">
        <mat-expansion-panel-header>
            <mat-panel-description>
                Thème : {{ theme.themeName }}
            </mat-panel-description>
        </mat-expansion-panel-header>

        <mat-expansion-panel *ngFor="let conference of theme.conferences">
            <mat-expansion-panel-header>
                <mat-panel-description>
                    {{ conference.confName }} - {{ conference.creneau["0"].crenStartTime }} /
                    {{ conference.creneau["0"].crenEndTime }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <markdown [data]="markdownChanged(conference.confMDlink)"></markdown>
        </mat-expansion-panel>
    </mat-expansion-panel>
</mat-accordion>
