<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <button mat-icon-button>
      <button mat-icon-button><mat-icon>home</mat-icon></button>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button routerLink="/accueil"> Home </a>
      <a mat-button routerLink="/default-template"> Default template </a>

    </div>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
  </mat-toolbar-row>
</mat-toolbar>