<!-- For desktop -->
<div *ngIf="!mobSvc.getIsMobile()">
    <div style="position: absolute;" class="footer-link">
            <a routerLink="inscription">Inscription</a> | <a routerLink="conferences">Conférences</a> | <a routerLink="a-propos">A propos de nous</a> | <a routerLink="contact">Nous contacter</a> | <a routerLink="mentionsLegales">Mentions légales</a>
    </div>
    <div style="position: absolute; right: 0;">
        &copy;2019 / 2020 — IT's 4 Tomorrow
    </div>
    <br><br>
    <div align="center">
        Suivez-nous sur
        <a href="#" target="_blank"><img src="../../../assets/Facebook.png" alt="Facebook" height="24px" /></a> 
        <a href="#" target="_blank"><img src="../../../assets/Linkedin.png" alt="Linkedin" height="30px" /></a>
    </div>
</div>

<!-- For mobile -->
<div *ngIf="mobSvc.getIsMobile()" align="center">
    <div class="footer-link">
        <a routerLink="inscription">Inscription</a> | <a routerLink="conferences">Conférences</a> | <a routerLink="a-propos">A propos de nous</a> | <a routerLink="contact">Nous contacter</a> | <a routerLink="mentionsLegales">Mentions légales</a>
    </div>
    <hr>
    <div>
        Suivez-nous sur
        <a href="#" target="_blank"><img src="../../../assets/Facebook.png" alt="Facebook" height="24px" /></a> 
        <a href="#" target="_blank"><img src="../../../assets/Linkedin.png" alt="Linkedin" height="30px" /></a>
    </div>
    <hr>
    <div>
        &copy;2019 / 2020 — IT's 4 Tomorrow
    </div>
</div>