<!-- For desktop -->
<div *ngIf="!mobSvc.getIsMobile()">
  <div style="position: absolute;" class="footer-link">
    <a routerLink="inscription">Inscription</a> | <a routerLink="conferences">Conférences</a> | <a
      routerLink="a-propos">A propos de nous</a> | <a routerLink="contact">Nous contacter</a> | <a
      (click)="openBottomSheet()">Mentions légales</a>
  </div>
  <div style="position: absolute; right: 0;">
    &copy;2019 / 2020 — IT's 4 Tomorrow
  </div>
  <br><br>
  <div align="center" fxLayout="row" fxLayoutAlign="space-around center" style="width:230px; margin: auto;">
    <div>Suivez-nous sur</div>
    <a href="#" target="_blank"><img src="http://drive.google.com/uc?export=view&id=1Y7V2eWD49l0znNpuC2K3kiACr0-_TuFq"
        alt="Facebook" height="24px" /></a>
    <a href="#" target="_blank"><img src="http://drive.google.com/uc?export=view&id=1e1YaFE01AMmK78hKPID9plUKRtwZ7ZIM"
        alt="Linkedin" height="30px" /></a>
  </div>
</div>
<!-- For mobile -->
<div *ngIf="mobSvc.getIsMobile()" align="center">
  <div class="footer-link">
    <a routerLink="inscription">Inscription</a> | <a routerLink="conferences">Conférences</a> | <a
      routerLink="a-propos">A propos de nous</a> | <a routerLink="contact">Nous contacter</a> | <a
      (click)="openBottomSheet()">Mentions légales</a>
  </div>
  <hr>
  <div align="center" fxLayout="row" fxLayoutAlign="space-around center" style="width:230px; margin: auto;">
      <div>Suivez-nous sur</div>
      <a href="#" target="_blank"><img src="http://drive.google.com/uc?export=view&id=1Y7V2eWD49l0znNpuC2K3kiACr0-_TuFq"
          alt="Facebook" height="24px" /></a>
      <a href="#" target="_blank"><img src="http://drive.google.com/uc?export=view&id=1e1YaFE01AMmK78hKPID9plUKRtwZ7ZIM"
          alt="Linkedin" height="30px" /></a>
    </div>
  <hr>
  <div>
    &copy;2019 / 2020 — IT's 4 Tomorrow
  </div>
</div>
