<div class="container" [class.is-mobile]="mobSvc.getIsMobile()">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="app-name"><a routerLink="accueil">IT's 4 Tomorrow</a></h1>
    <span style="flex: 1 1 auto"></span>
    <button mat-raised-button color="accent" style="font-weight: bold;" routerLink="inscription">
      S'INSCRIRE
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobSvc.getIsMobile() ? 50 : 0">
    <mat-sidenav #snav [mode]="mobSvc.getIsMobile() ? 'over' : 'side'" [fixedInViewport]="mobSvc.getIsMobile()"
      fixedTopGap="50">
      <mat-nav-list (click)="snav.toggle()">
        <a mat-list-item routerLink="inscription">Inscription</a>
        <a mat-list-item routerLink="conferences">Conférences</a>
        <a mat-list-item routerLink="a-propos">A propos de nous</a>
        <a mat-list-item routerLink="contact">Nous contacter</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<div class="loading" *ngIf="loaderService.getSpinnerState()">
  <mat-spinner></mat-spinner>
</div>
